/* Make 2nd-level folders blue */
.monaco-list .monaco-tree-row[aria-level="2"] .label-name {
	color: #00bfff !important;
}

/* Make 3rd-level folders purple */
.monaco-list .monaco-tree-row[aria-level="3"] .label-name {
	color: #b266ff !important;
}

/* Make top-level files bold */
.monaco-list .monaco-tree-row[aria-level="1"] .label-name {
	font-weight: bold !important;
}
